/*---------------*/
/*--- General ---*/
/*---------------*/

/* Color gradient */
:root {
  --bg-light: rgb(70,210,250);
  --bg-medium: rgb(50,145,235);
  --bg-dark: rgb(30,80,220);

  --bg-medium-focus: rgb(40, 115, 185); /*x1, x3, x5*/
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
    font-size: 100%;
    font-family: Poppins, sans-serif;
    color: #3d3d3d;
  }
  
  h2, h3, h4, h5 {
    margin-bottom: 1rem;
    font-weight: 400;
  }
    
  h1 span, h2 span, h3 span, h5 span {
    color: var(--bg-dark);
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

a {
  color: var(--bg-dark);
}

a:hover, a.active {
  color: var(--bg-light);
  text-decoration: none;
}

a > h3 {
  color :#3d3d3d;
  transition: all 0.3s ease-in-out;
}

a:hover > h3 {
  color: var(--bg-dark);
}

/* SM and XS */

@media (max-width: 767px) {
  h1 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

/*----------------------*/
/*--- Navigation bar ---*/
/*----------------------*/

/* Classes */
/* 
    Scrolled - .navbar-shrink
    Expanded - .expanded
*/

/* General */

#mainNav {
    background: transparent;
    padding: .75rem;
  }

  
  #mainNav.navbar-shrink {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 1px 5px 0 rgba(75, 75, 75, 0.3);
  }

  #mainNav.expanded {
    background-color: rgba(255,255,255,0.9);
  }

/* Brand */

  #mainNav .navbar-brand,
  #mainNav .navbar-brand:hover {
    color: white;
    font-family: Poppins, 'sans-serif';
    font-weight: bold;
    font-size: 1.5rem;
  }

  #mainNav.navbar-shrink .navbar-brand,
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.expanded .navbar-brand {
    color: black;
  }

  /* Toggler */

  #mainNav .navbar-toggler {
    border: none;
    padding: 0;
    font-size: 1.25rem;
  }
  
  #mainNav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  #mainNav.expanded .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  /* Links */
  
  #mainNav .navbar-nav > li > a {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    margin: 0 .5rem;
    font-weight: 400;
    text-transform: none;
    color: #dfdfdf;
  }

  #mainNav.expanded .navbar-nav > li > a {
    color: black;
  }

  #mainNav.navbar-shrink .navbar-nav > li > a.active,
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.expanded .navbar-nav > li > a.active,
  #mainNav.expanded .navbar-nav > li > a:hover {
    color: var(--bg-dark)!important;
  }

  /* LG and XL */

  @media (min-width: 992px) {
    /* Links - active */

    #mainNav .navbar-nav > li > a.active,
    #mainNav .navbar-nav > li > a:hover {
      color: white;
    }
  }

   /* MD */

   @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Links */

    #mainNav .navbar-nav > li > a {
      font-size: 14px;
      margin: 0;
    }
  }

/*----------------------*/
/*---- Main content ----*/
/*----------------------*/

  /* Header */

header.masthead {
    height: auto;
    min-height: 100%;
    background: url("../img/bg_pattern.png"), linear-gradient(to right, var(--bg-light), var(--bg-dark));
    color: white;
  }

  @media (min-width: 992px) {
    header.masthead {
      padding: 150px 0 100px 0;
    }
  }

   /* Assets */

h1.error {
  font-size: 6rem!important;
  font-weight: bold;
  margin-top: -50px;
}

.separator {
  border-top: 1px solid #dfdfdf;
  max-width: 100%;
  margin: 0 0 1rem 0;
}

.back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  z-index: 9999;
  opacity: .4;
}

.back-to-top:hover {
  opacity: 1;
}
  
/*---------------------*/
/*------ Buttons ------*/
/*---------------------*/

  /* General */

.btn-xl {
  font-size: 20px;
}

.btn-md {
  font-size: 16px;
}

.btn-xl i {
    font-size: 40px;
    padding-right: 15px;
  }

  .btn-md i {
    font-size: 30px;
    padding-right: 5px;
  }

  .btn.btn-form {
    font-weight: bolder;
    padding: .75rem;
  }

/* Theme medium color */

.btn-medium {
  background-color: var(--bg-medium);
  border-color: var(--bg-medium);
  color: white;
}

.btn-medium:hover, .btn-medium:focus {
  background-color: var(--bg-medium-focus);
  border-color: var(--bg-medium-focus);
  color: white;
}

/* Transparent border carbon -> Theme dark color */

.btn-dark-inverted {
  background-color: transparent;
  border-color: #3d3d3d;
  color: #3d3d3d;
}

.btn-dark-inverted:hover, .btn-dark-inverted:focus {
  background-color: var(--bg-dark);
  border-color: var(--bg-dark);
  color: white;
}

/* Transparent border carbon -> Theme medium color */

.btn-medium-inverted {
  background-color: transparent;
  border-color: #3d3d3d;
  color: #3d3d3d;
}

.btn-medium-inverted:hover, .btn-medium-inverted:focus {
  background-color: var(--bg-medium);
  border-color: var(--bg-medium);
  color: white;
}

/* Transparent border carbon -> Theme light color */

.btn-light-inverted {
  background-color: transparent;
  border-color: #3d3d3d;
  color: #3d3d3d;
}

.btn-light-inverted:hover, .btn-light-inverted:focus {
  background-color: var(--bg-light);
  border-color: var(--bg-light);
  color: white;
}

/* Transparent border white -> White button black font */

.btn-white-inverted {
  background-color: transparent;
  border-color: white;
  color: white;
}

.btn-white-inverted:hover, .btn-white-inverted:focus {
  background-color: white;
  border-color: white;
  color: black;
}

/* Red */

.btn-red {
  background-color: rgb(250,13,13);
  border-color: rgb(250,13,13);
  color: white;
}

.btn-red:hover, .btn-red:focus {
  background-color: rgb(190, 13, 13);
  border-color: rgb(190, 13, 13);
  color: white
}

/* Grey */

.btn-grey {
  background-color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
  color: white;
}

.btn-grey:hover, .btn-grey:focus {
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  color: white;
}

/*-------------------*/
/*------ Forms ------*/
/*-------------------*/


/* General */

.form-container {
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
  color: #3d3d3d;   
}

@media (max-width: 575.98px) { 
  .form-container {
    padding-right: 15px;
    padding-left: 15px;
  }
 }

.form-container .form-control {
  background: #fafafa;
  border: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: black;
  height: 42px;
}

.form-container .form-control:focus {
  border-color: var(--bg-medium);
}

.form-container .form-group i:not(.modal-i) {
  width: 40px;
  height: 40px;
  line-height: 40px!important;
  top: 0;
  right: 0;
  color: #333333;
  position: absolute;
  text-align: center;
  margin-top: 0;
}

.form-container .form-control:focus + i:not(.modal-i) {
  color: var(--bg-medium);
}

.form-container label {
  font-weight: 500;
}

.form-container .form-check {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.form-container .custom-control-label {
  font-size: 15px;
  padding-top: 2px;
}

.custom-control-input:checked~.custom-control-label:before {
  color: #fff;
  border-color: var(--bg-medium);
  background-color: var(--bg-medium);
 }

.form-container .form-error {
  color: var(--bg-medium);
  font-size: 16px;
  font-weight: bold;
}

/* Questionnaire list form */

.form-questionnaire-list {
  padding: 30px;  
}

.form-questionnaire-list p {
  font-weight: 200;
}

.form-questionnaire-list .list-group-item {
  border: 1px solid #cacaca;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 10px;
}

.form-questionnaire-list .list-group-item:hover,
.form-questionnaire-list .list-group-item:focus {
  border-color: var(--bg-medium);
  background-color: white;
  color: var(--bg-medium);
}

/*-------------------------*/
/*------ Editor form ------*/
/*-------------------------*/

.list-group-item-sidebar {
  background: transparent;
  box-shadow: none;
  border: none;
  color: #a0a0a0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.list-group-item-sidebar.active, .list-group-item-sidebar:hover, .list-group-item-sidebar:focus {
  background: transparent;
  color: var(--bg-medium);
}

.tab-pane-container {
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  padding: 15px 25px;
}

.tab-pane-container.questionBlock,
.tab-pane-container.scheduleBlock,
.tab-pane-container.overviewBlock  {
  margin-bottom: 1.25rem;
}

.form-group.button-row {
  margin: 15px 0;
}

.form-overview {
  margin-bottom: 0.5rem;
}

/*--------------------*/
/*------ Footer ------*/
/*--------------------*/

footer a:hover {
  color: white!important;
}

/*--------------------------*/
/*--------- Modals ---------*/
/*--------------------------*/

.modal-dialog {		
    color: #636363;
    width: auto;
}
.modal-dialog .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-dialog .modal-header {
    border-bottom: none;   
    position: relative;
}

.modal-dialog h4 {
  font-size: 30px;
  font-weight: 600;
}

.modal-dialog p {
    font-size: 20px;
    margin-bottom: 0;
}

.modal-dialog i {
    color: rgb(250,13,13);
    font-size: 80px;
    margin-bottom: 10px;
}